.footer{
      position: fixed;
      left: 0%;
      bottom: 0%;
      width: 100%;
      text-align: center;
      background-color: rgb(42, 165, 67);
}
#weather-data{
      background-image: url('./istockphoto-1330807591-612x612.jpg');

      background-size: cover; /* set the size of the image */
      background-repeat: no-repeat; /* prevent the image from repeating */
      background-position: left top; 
      height: fit-content;
      width: 100vw;
      display: flex;
      display: inline-block;
      margin:0;
      padding: 0;
      font-size: large;
      
}
.image-holder{
      background-image: url("./icons8-cloud-and-sun-64.png");
}

